<div class="search-container">
    <input type="text" id="search-input" placeholder="Rechercher...">
</div>
<ul class="nav-list">
    <li class="nav-group-title">Connaissances Fondamentales sur la Collecte de Données</li>
    <li><a href="{{ site.baseurl }}/">Introduction</a></li>
    <li><a href="{{ site.baseurl }}/chapitres/chapitre-1-collecte-donnees.html">1 Introduction à la Collecte de Données</a></li>
    <li><a href="{{ site.baseurl }}/chapitres/chapitre-2-methodes-techniques.html">2 Méthodes de Collecte</a></li>
    <li><a href="{{ site.baseurl }}/chapitres/chapitre-3-formulaires.html">3 Outils Electronique</a></li>
    <li><a href="{{ site.baseurl }}/chapitres/chapitre-4-conception-developpement.html">4 Conception et Développement des formulaires électroniques</a></li>
    <li><a href="{{ site.baseurl }}/chapitres/chapitre-5-gestion-validation.html">5 Gestion et validation des Formulaires</a></li>
    <li><a href="{{ site.baseurl }}/chapitres/chapitre-6-analyse-utilisation.html">6 Analyse et Utilisation des Données</a></li>
</ul>