<div class="search-container">
    <input type="text" id="search-input" placeholder="Rechercher...">
</div>
<ul class="nav-list">
    <li class="nav-group-title">Introduction</li>
    <li><a href="{{ site.baseurl }}/">Accueil</a></li>
    <li><a href="{{ site.baseurl }}/chapitres/chapitre-1-collecte-donnees.html">Chapitre 1 - Introduction à la Collecte de Données</a></li>
    <li><a href="{{ site.baseurl }}/chapitres/chapitre-2-methode.html">Chapitre 2 - Méthodes de Collecte</a></li>
    <li><a href="{{ site.baseurl }}/chapitres/chapitre-3-formulaires.html">Chapitre 3 - Conception de Formulaires</a></li>
    </ul>