<ul class="nav-list">
    <li class="nav-group-title">Général</li>
    <li><a href="{{ site.baseurl }}/index.html#introduction">Introduction au module</a></li>
    <li><a href="{{ site.baseurl }}/index.html#module-objectives">Objectifs du module</a></li>
</ul>

<ul class="nav-list">
    <li class="nav-group-title">Chapitre 1</li>
    <li>
        <a href="{{ site.baseurl }}/chapitres/chapitre-1-collecte-donnees.html#chapitre-1-titre">Chapitre 1 : Introduction à la Collecte de Données et son Importance</a>
        <ul>
            <li><a href="{{ site.baseurl }}/chapitres/chapitre-1-collecte-donnees.html#1-0-objectifs-apprentissage">Objectifs d'apprentissage</a></li>
            <li><a href="{{ site.baseurl }}/chapitres/chapitre-1-collecte-donnees.html#1-1-definition">1.1 Qu'est-ce que la collecte de données ?</a></li>
            <li><a href="{{ site.baseurl }}/chapitres/chapitre-1-collecte-donnees.html#1-2-role-prise-decison">Rôle dans la prise de décision</a></li>
            <li><a href="{{ site.baseurl }}/chapitres/chapitre-1-collecte-donnees.html#1-3-cycle-vie-donnees">Cycle de vie des données</a></li>
            <li><a href="{{ site.baseurl }}/chapitres/chapitre-1-collecte-donnees.html#1-2-pourquoi-collecter">1.2 Pourquoi collecter des données dans le contexte du PNLP ?</a></li>
            <li><a href="{{ site.baseurl }}/chapitres/chapitre-1-collecte-donnees.html#1-3-types-donnees">1.3 Types de données : Qualitatives vs. Quantitatives</a></li>
        </ul>
    </li>
</ul>

{# Ajoutez d'autres chapitres ici de la même manière. Assurez-vous que les fichiers existent et que les IDs sont corrects. #}
<ul class="nav-list">
    <li class="nav-group-title">Chapitre 2</li>
    <li><a href="{{ site.baseurl }}/chapitres/chapitre-2-methodes-techniques.html">Chapitre 2 : Méthodes et Techniques</a></li>
</ul>

<ul class="nav-list">
    <li class="nav-group-title">Chapitre 3</li>
    <li><a href="{{ site.baseurl }}/chapitres/chapitre-3-conception-formulaires.html">Chapitre 3 : Conception de Formulaires</a></li>
</ul>